.loading {
  background-color: #e91e63;
  height: 100%;
}
/* Master Styles */
html, body { 
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #212121;
  color: #e0e0e0;
  min-width: 360px;
}
a:link, a:visited {
    text-decoration: none;
    display: inline-block;
}
.nav {
  height: 100px;
  background-color: #e91e63;
  text-align: center;
}
.nav a {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  color: #fff;
  margin-top: 1rem;
}
#add-cart_button {
  width: 100px;
  height: 100px;
  float: right;
  background-color: #c2185b;
}
#add-cart_button img {
  width: 40px;
  margin: 30px;
}
/*
* Cart box
*/
.cart-box {
  position: relative;
  height: 100px;
  margin-top: 0px;
  background-color: #c2185b;
  clear: both;
  overflow-y: auto;
  list-style-type: none;
}
.cart-box li {
  width: 90px;
  height: 90px;
  margin: 5px;
  float: left;
}
/*
* Home style
*/
.container {
  min-height: 100%;
}
.search {
  margin: 15px;
}
.search input {
  width: 50%;
  border: 0px;
  padding: 5px;
  font-size: 25px;
  border-radius: 0px;
  background-color: #000;
  color: white;
  height: 40px;
  margin-left: 25%;
  clear: both;
}
.web-content {
  clear: both;
}
.product-box {
  width: 33.333%;
  float: left;
}
.product {
  margin: 5px;
}
.product img {
  width: 700px;
  max-width: 100%;
}
.add-cart {
  position: relative;
  z-index: 99;
  margin-bottom: -40px;
  margin-top: 10px;
  margin-right: 10px;
  height: 30px;
  text-align: right;
}
.add-cart a {
  color: #fff;
  background-color: #f00;
  height: 30px;
  width: 30px;
  font-size: 23px;
  border-radius: 15px;
  opacity: 0.6;
  text-align: center;
}
.add-cart a:hover, .add-cart a:active {
      opacity: 1;
    background-color: #e91e63;
}

.product-info {
  position: relative;
  z-index: 99;
  margin-top: -124px;
  padding: 10px;
  height: 100px;
  background-image: url("/images/product-info-bg.png");
}
.product-info a {
  color: #fff;
  margin-bottom: 10px;
}
.product-info .product-name {
  font-size: 1.6rem;
}
.product-info .category-cart {
  float: right
}
.product-info .category-cart img {
  height: 1.6rem;
  width: auto;
}
.categories {
  list-style-type: none;
  padding: 0px;
}
.categories li {
  left: 0px;
  width: 25%;
  float: left;
}
.categories li a {
  width: 70%;
  margin-left: 15%;
  opacity: 0.5;
  margin-bottom: 10px;
}
.categories li a:hover, .categories li a:active {
    opacity: 1;
}
.categories li a img {
  width: 100%;
}

footer {
  background-color: #424242;
  color: #bdbdbd;
  height: 25px;
  padding: 10px 20px;
  clear: both;
}
footer a {
  color: #fff;
}
/* everywhere else */
* { 
    font-family: 'Quicksand', sans-serif;
}
@media only screen and (max-width: 700px) {
    .product-box {
      width: 100%;
    }
    .search input {
      width: 100%;
      padding: 5px;
      margin-left: 0;
    }
}
@media (max-width:998px) and (min-width:700px) {
    .product-box {
      width: 50%;
    }
    .search input {
      width: 100%;
      padding: 5px;
      margin-left: 0;
    }
}​